body {
    font-family: "Poetsen One", sans-serif;
    background-color: #f0f0f0;
    background-image: url('./assets/img.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(182, 166, 185, 0.8); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color:antiquewhite;
}

#player-inputs input {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    margin: 20px 0;
    border: none;
    background-color: #5c24be;
    color:whitesmoke;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    transition: 0.7s ;
    background-color: #602b7a;
}

#output {
    margin-top: 1vh;
    text-align: center;
}

.match {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.match-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.team {
    margin-bottom: 5px;
}

.sitting-out {
    color: #888;
}

.navbar{
    width:100%;
    height: 7%;
    background-color: #340A6A;
    position: absolute;
    top:0%;
    text-align: center;
    padding-bottom: 2.5vh;
}

.title{
    color: antiquewhite;
}






